# Ignore Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Unit test / coverage reports
.coverage
.pytest_cache/

# PyCharm specific files
.idea/

# Log files
*.log
*.txt

# Ignore environment files
.env
